body {
 /* background-image: url("cover.png");*/
 background-color: #080d1f
 color:white;
 text-align: left;
}

.title {
  text-align: center
}
img {
  width: 100%;
  height: auto;
}

.navbar-fixed-bottom {
  font-size: smaller;
  color: dimgray;
  font-style: italic;
  background-color: #1e2d56;
  text-align: center;
}
